div.month_identifiers {
     text-align: center;
}

div.calender {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
}

h3.month_name {
    display: inline-block;
}

h3.year_number {
    display: inline-block;
}