div.calender {
  width: 800px;
  display: grid;
  grid-template-columns: 50px 700px 50px;
}

div.calender__descriptions {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}

h3.calender__title {
    display: inline-block;
}

div#left_month {
  grid-column: 1/2;
  grid-row: 2/3;
}

div#right_month {
  grid-column: 3/4;
  grid-row: 2/3;
}

div.calender__days {
    width: 714px;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: 50px repeat(5, 100px);
    grid-column: 2/3;
    grid-row: 2/3;  
}

h3.day_name {
  text-align: center;
}

div.day {
    border-radius: 5px;
    width: 98px;
    height: 98px;
    border: 1px solid black;
    padding: 0px;
    background-color: #C9D9F2;
  }

div.off_day {
    border-radius: 5px;
    width: 98px;
    height: 98px;
    border: 1px solid black;
    padding: 0px;
    background-color: #c4c6c8;
  }

button.new_event_button {
  display: none;
  background-color: #DAE5F7;
  border:none;
  border-radius: 4px;
  float:right;
  margin-top: 3%;
  margin-right: 3%;
  cursor: pointer;
}


  
div.event_1 {
  width:97px;
  height: 24px;
  border: 2px solid #81AEF7;
  background: aqua;
  margin: 0px;
  padding:0px;
}
  
div.event_2 {
  width:97px;
  height: 24px;
  border: 2px solid green;
  margin: 0px;
  padding:0px;
}

div.event_3 {
  width:97px;
  height: 24px;
  border: 2px solid purple;
  margin: 0px;
  padding:0px;
}