div.month_identifiers {
     text-align: center;
}

div.calender {
  width: 800px;
  display: grid;
  grid-template-columns: 50px 700px 50px;
}

div.calender__descriptions {
  grid-column: 2/3;
  grid-row: 1/2;
}

div#left_month {
  grid-column: 1/2;
  grid-row: 2/3;
}

div.calender__days {
    width: 700px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-column: 2/3;
    grid-row: 2/3;  
}

div#right_month {
  grid-column: 3/4;
  grid-row: 2/3;
}

h3.month_name {
    display: inline-block;
}

h3.year_number {
    display: inline-block;
}

div.day {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 0px;
    background-color: #C9D9F2;
  }

button.new_event_button {
  display: none;
  background-color: #DAE5F7;
  border:none;
  float:right;
  margin-top: 3%;
  margin-right: 3%;
}
  
  div.event_1 {
    width:97px;
    height: 24px;
    border: 2px solid #81AEF7;
    background: aqua;
    margin: 0px;
    padding:0px
  }
  
  div.event_2 {
    width:97px;
    height: 24px;
    border: 2px solid green;
    margin: 0px;
    padding:0px
  }
  
  div.event_3 {
    width:97px;
    height: 24px;
    border: 2px solid purple;
    margin: 0px;
    padding:0px
  }