{% extends 'month_view/base.html' %}

{% block 'title' %}
<title>Scheduler</title>
{% endblock %}

{% block 'body' %}
<h1 class="event_title">TEST</h1>
{% for day, events in month_events.items %}
<button type="button" class="day_{{ day }}" onclick="ToggleForm()">{{ day }}</button>
    {% for event in events %}
    <div class="event">
        <h5 class="event_title">{{ event.title }}</h5>
    </div>
    {% endfor %}
{% endfor %}
<div id=event_input style="visibility: hidden;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="new_event_submit_button">Submit</button>
    </form>
</div>
{% endblock %}