{% extends 'login/logout_button.html' %}

{% block 'title' %}
<title>Scheduler</title>
{% endblock %}

{% block 'body' %}
<h3 class="month_name">{{ month_name }}</h3>
<h3 class="year_number">{{ year_number }}</h3>

<div>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" id="left_month" name="left_month">{-</button>
    </form>
</div>

{% for day, date, events in month_day_tuples %}
<button type="button" class="day_{{ day }}" onclick="ShowNewForm('{{ date }}')">{{ day }}</button>
    {% for event in events %}
    <div class="event">
        <button class="day_{{ day }}_event" onclick="ShowEditForm('{{ event.title }}', '{{ event.date }}', '{{ event.pk }}')">{{ event.title }}</button>
    </div>
    {% endfor %}
{% endfor %}

<div>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" id="right_month" name="right_month">-}</button>
    </form>
</div>

<div id=edit_event_input style="visibility: hidden;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form }}
        <input type=text id="event_id" name="event_id">
        <button type="submit" id="edit_event_submit_button" name="edit_event" onclick="HideEditForm()">Submit</button>
        <button type="button" id="edit_cancel_button" onclick="HideEditForm()">Cancel</button>
        <button type="submit" id="delete_button" name="delete_event">Delete</button>
    </form>
</div>


<div id=new_event_input style="visibility: hidden;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ new_form }}
        <button type="submit" id="new_event_submit_button" onclick="HideNewForm()">Submit</button>
        <button type="button" id="new_cancel_button" onclick="HideNewForm()">Cancel</button>
        
    </form>
</div>
{% endblock %}