{% extends 'login/logout_button.html' %}
{% load static %}

{% block 'title' %}
<title>Scheduler</title>
{% endblock %}

{% block 'style' %}
<link rel="stylesheet" type="text/css" href="{% static 'month_view/css/month_view.css' %}">
<script src="{% static 'month_view/js/form.mjs' %}" type="module"></script>
<!--<script src="{% static 'month_view/js/new_event.js' %}"></script>-->
{% endblock %}

{% block 'body' %}

<div class="calender">

    <div class="calender__descriptions">
    <h3 class="calender__title" id="month_name">{{ month_name }}</h3>
    <h3 class="calender__title" id="year_number">{{ year_number }}</h3>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" id="left_month" name="left_month" class="calender__change-month">{-</button>
    </form>

    <div class="calender__days">
        <h3 class="day_name">Sunday</h3><h3 class="day_name">Monday</h3><h3 class="day_name">Tuesday</h3>
        <h3 class="day_name">Wednesday</h3><h3 class="day_name">Thursday</h3><h3 class="day_name">Friday</h3>
        <h3 class="day_name">Saturday</h3>
        {% for day, events in last_month_events %}
        <div class="last_month_day_{{ day }} off_day" onmouseover = "MouseOverLastMonthDay(this, '{{ day }}')" onmouseout = "MouseOffLastMonthDay(this, '{{ day }}')">
            {{ day }}
            <button type="button" class="new_event_button" id="last_month_new_event_button_{{ day }}" name="new_event" onclick="ShowNewLastMonthForm('{{ year_number }}-{{ month_number}}-{{ day }}')">+</button>
            {% for event in events %}
                <div class="event">
                    <button class="last_day_{{ day }}_event" onclick="ToggleEditEventFormVisibility('{{ event.title }}', '{{ event.date|date:"Y-m-d" }}', '{{ event.pk }}')">{{ event.title }}</button>
                </div>

            {% endfor %}
        </div>
        {% endfor %}


        {% for day, events in month_events %}
        <div class="day_{{ day }} day" onmouseover = "MouseOverDay(this, '{{ day }}')" onmouseout = "MouseOffDay(this, '{{ day }}')">
            {{ day }}
            <button type="button" class="new_event_button" id="new_event_button_{{ day }}" name="new_event" onclick="ToggleNewEventFormVisibility('{{ year_number }}-{{ month_number }}-{{ day }}')">+</button>
            {% for event in events %}
                <div class="event">
                    <button class="day_{{ day }}_event" onclick="ToggleEditEventFormVisibility('{{ event.title }}', '{{ event.date|date:"Y-m-d" }}', '{{ event.pk }}')">{{ event.title }}</button>
                </div>
            {% endfor %}    
        </div>
        {% endfor %}


        {% for day, events in next_month_events %}
        <div class="next_month_day_{{ day }} off_day" onmouseover = "MouseOverNextMonthDay(this, '{{ day }}')" onmouseout = "MouseOffNextMonthDay(this, '{{ day }}')">
            {{ day }}
            <button type="button" class="new_event_button" id="next_month_new_event_button_{{ day }}" name="new_event" onclick="ShowNewNextMonthForm('{{ year_number }}-{{ month_number}}-{{ day }}')">+</button>
            {% for event in events %}
                <div class="event">
                    <button class="next_day_{{ day }}_event" onclick="ToggleEditEventFormVisibility('{{ event.title }}', '{{ event.date|date:"Y-m-d" }}', '{{ event.pk }}')">{{ event.title }}</button>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" id="right_month" name="right_month" class="calender__change-month">-}</button>
    </form>

    <div id=edit_event_input style="visibility: hidden;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form }}
            <input type=text id="event_id" name="event_id">
            <button type="submit" id="edit_event_submit_button" name="edit_event" onclick="ToggleEditEventFormVisibility()">Submit</button>
            <button type="button" id="edit_cancel_button" onclick="ToggleEditEventFormVisibility()">Cancel</button>
            <button type="submit" id="delete_button" name="delete_event">Delete</button>
        </form>
    </div>    
    
    <div id=new_event_input style="visibility: hidden;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ new_form }}
            <button type="submit" id="new_event_submit_button" name="new_event" onclick="ToggleNewEventFormVisibility()">Submit</button>
            <button type="button" id="new_cancel_button" onclick="ToggleNewEventFormVisibility()">Cancel</button>
        </form>
    </div>    
</div>






{% endblock %}